
.fullsize {
  background-color: var(--highlightColor);
  height: 97vh;
  width: 80vw;
  margin: 1rem auto;
  transition: all 144ms ease-out;
  display: flex;
  flex-direction: row;
  border-radius: 8px;
}

@media screen and (max-width: 1440px) {
  .fullsize {
    margin: 0;
    width: 100vw;
  }
}
